.container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border-radius: 8px;
  padding: 1rem;
  background-color: white;
  width: 100%;
  user-select: none;
  position: relative;
  margin-bottom: 4rem;
  overflow: visible;
  /* padding-top: 4rem; */
  z-index: 10;
  margin-bottom: 5rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.content h3 {
  display: inline-block;
  background-color: #ffedcd;
  font-weight: 400;
  font-size: 16px;
  padding: 0.2rem 0;
  text-align: center;
  width: 60%;
  align-self: center;
  top: 0rem;
}

.deliveryDesc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tileImage {
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
}

.tileImage img {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.tileImage i {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.goatDetails {
  color: #374452;
}

.descriptionPopupOverlay {
  /* visibility: hidden;
   */
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(55, 68, 82, 0.4);
}

.visible {
  opacity: 1;
}

.descriptionTable {
  display: flex;
  flex-direction: column;
  height: min-content;
  position: relative;
  border-radius: 8px;
  width: 90%;
  padding: 20px;
  padding-top: 3rem;
  z-index: 1000;
  top: 3rem;
  background-color: #fff;
  opacity: 1;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease;
}

.closeIcon {
  position: absolute;
  right: 0;
  top: 1rem;
  display: flex;
}

.descriptionTable table {
  border-collapse: collapse;
  width: 100%;
}

.descriptionTable table tbody tr td {
  padding-bottom: 0.8rem;
  /* align-content: baseline; */
}

.descriptionTable table tr td:nth-child(3) {
  box-sizing: border-box;
  font-weight: 600;
  padding-left: 1rem;
}

.descriptionTable td:nth-child(1) {
  width: 60%;
}

.goatDetails span {
  font-weight: 600;
}

.quantityControl {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  flex-direction: column;
  gap: 0.3rem;
  border-bottom: 1px solid #374452;
  padding-bottom: 0.3rem;
}

.controlPrices {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.label {
  display: flex;
  justify-content: space-between;
}

.quantityControl span {
  font-size: 12px;
  font-weight: 400;
}

.quantityLabels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quantityButtons {
  display: flex;
  align-items: center;
}

.quantityButtons button {
  display: flex;
  justify-content: center;
  width: 22px;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  border-radius: 50%;
  box-sizing: border-box;
}

.quantityButtons button:hover {
  background-color: #e0e0e0;
}

.quantityButtons input {
  width: 40px;
  text-align: center;
  border: none;
  margin: 0 4px;
  font-size: 14px;
}

.price {
  text-align: right;
  width: 4rem;
}

.addToCartWrap {
  display: flex;
  justify-content: right;
}

.addToCartButton {
  background-color: #608bc1;
  color: #fff;
  padding: 8px 12px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 16px;
  transition: background-color 0.3s ease;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.availableNote {
  font-size: 12px;
  color: green;
}
